<nav class="grey darken-3">
    <div class="containder">
        <div class="nav-wrapper">
            <a href="/stories" class="brand-logo center">StoryBooks</a>
            <a href="#" data-activates="main-menu" class="button-collapse show-on-large">
                <i class="fa fa-bars"></i>
            </a>
            {{!-- RIGHT NAV --}}
            <ul class="right hide-on-small">
                {{#if user}}
                    <li><a href="/dashboard">Welcome {{user.firstName}}</a></li>
                    <li><i class="fa fa-sign-out"></i><a href="/auth/logout"> Logout</a></li>
                {{else}}
                    <li><a href="/storise"><i class="fa fa-book"></i> Public stories</a></li>
                {{/if}}
            </ul>
            <ul class="side-nav" id="main-menu">
                <li><a href="/storise"><i class="fa fa-book"></i> Public stories</a></li>
                {{#unless user}}
                <li>
                    <a href="/auth/google" class="btn red darken-1">
                        <i class="fa fa-google left"></i> Login With Google
                    </a>
                </li>
                 
                {{else}}
                <li class="divider"></li>
                <li><a href="/storise"><i class="fa fa-cog"></i> Dashboard</a></li>
                <li><a href="/storise/my"><i class="fa fa-user"></i> My stories</a></li>
                <li><i class="fa fa-sign-out"></i><a href="/auth/logout"> Logout</a></li>
                {{/unless }}
                
            </ul>
        </div>
    </div>
</nav>